<!DOCTYPE html>
<html>
<head>
    <title>Formularz</title>
</head>
<body>
    <h1>Protokół Oględzin Miejsca Zdarzenia</h1>
    <form method="POST">
        {{ form.csrf_token }}
        <div>
            {{ form.rodzaj.label }}: {{ form.rodzaj }}
        </div>
        <div>
            {{ form.miejsce.label }}: {{ form.miejsce }}
        </div>
        <div>
            {{ form.pora.label }}: {{ form.pora }}
        </div>
        <div>
            {{ form.bron.label }}: {{ form.bron }}
        </div>
        <div>
            <input type="submit" value="Wyślij">
        </div>
    </form>
</body>
</html>
