<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dodaj.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@200&display=swap" rel="stylesheet">
    <title>Dodaj przestępstwo</title>
</head>
<body>
    <header>
        <div class="header-text">
            <h1><span class="header-text">CrimeMatch</span></h1>
        </div>
        <button class="menu-toggle">Menu</button>
        <nav class="nav-links">
            <a href="#">Strona główna</a>
            <a href="{{ url_for('szukaj_przestepstwa') }}">Wyszukaj Przestępstwo</a>
            <a href="{{ url_for('dodaj_przestepce') }}">Dodaj Przestępstwo</a>
             <a href="{{ url_for('wyloguj') }}">Wyloguj</a>
        </nav>
    </header>
    <h1>Dodaj Przestępstwo</h1>
    <form action="/dodaj" method="POST">

        <div>
            <label for="imie">Imię Przestępcy:</label>
            <input type="text" id="imie" name="imie" required>
        </div>
        <div>
            <label for="nazwisko">Nazwisko Przestępcy:</label>
            <input type="text" id="nazwisko" name="nazwisko" required>
        </div>
        <div>
            <label for="wiek">Wiek Przestępcy:</label>
            <input type="number" id="wiek" name="wiek" required>
        </div>
        <div>
            <label for="miejsce">Miejsce Zamieszkania:</label>
            <input type="text" id="miejsce_zamieszkania" name="miejsce_zamieszkania" required>
        </div>
        <div>
            <label for="data_przestepstwa">Data Przestępstwa:</label>
            <input type="date" id="data_przestepstwa" name="data_przestepstwa" required>
        </div>
        <div>
            <label for="rodzaj">Rodzaj Przestępstwa:</label>
            <select id="rodzaj" name="rodzaj" required>
                <option value="">Wybierz rodzaj</option>
                <option value="Kradziez">Kradzież</option>
                <option value="Napad">Napad</option>
                <option value="Zabojstwo">Zabójstwo</option>
                <option value="przemoc fizyczna">Przemoc Fizyczna</option>
                
            </select>
        </div>
        <div>
            <label for="miejsce">Miejsce Popełnienia Przestępstwa:</label>
            <select id="miejsce" name="miejsce" required>
                <option value="">Wybierz miejsce</option>
                <option value="na ulicy">na ulicy</option>
                <option value="dom/ mieszkanie">dom/mieszkanie</option>
                <option value="miejsce publiczne">miejsce publiczne</option>
                
            </select>
        </div>
        <div>
            <label for="pora">Pora Popełnienia Przestępstwa:</label>
            <select id="pora" name="pora" required>
                <option value="">Wybierz porę</option>
                <option value="Dzienna">Dzienna</option>
                <option value="Nocna">Nocna</option>
                <option value="Zmierzch">Zmierzch</option>
                <option value="Świt">Świt</option>
                
            </select>
        </div>
        <div>
            <label for="bron">Czy przestępca używał broni:</label>
            <select id="bron" name="bron" required>
                <option value="">Wybierz</option>
                <option value="tak">Tak</option>
                <option value="nie">Nie</option>
                
            </select>
        </div>
        <div>
            <input type="submit" value="OK">
        </div>
    </form>
    <div class="image-container">
        <img src="{{ url_for('static', filename='zdjecie1.png') }}" alt="Zdjęcie" width="1200" height="800">
    </div>
    <footer>
        <p>Projekt i wykonanie:</p>
        <p>group name not found</p>
    </footer>

</body>
</html>