<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CrimeMatch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logowanie.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-text">
            <h1><span class="header-text">CrimeMatch</span></h1>
        </div>
        
        <nav class="nav-links">
            <!-- <a href="{{ url_for('home') }}">Strona główna</a> -->
            <a href="{{ url_for('szukaj_przestepstwa') }}">Wyszukaj Przestępstwo</a>
            <a href="{{ url_for('dodaj_przestepce') }}">Formularz Zgłoszeń</a>
            <a href="{{ url_for('usun') }}"style="color:white">Usuń przestepcę</a>
             <a href="{{ url_for('wyloguj') }}">Wyloguj</a> 
        </nav>
    </header>
    <br><br><br>
    {% if 'username' in session %}
        <h1>Witaj, {{ session['username'] }}!</h1>
    {% else %}
        <h1>Strona startowa</h1>
        <!-- Inne treści strony -->
        <a href="{{ url_for('logowanie') }}">Zaloguj</a>
    {% endif %}


    <h1>CrimeMatch - Wyszukiwanie i analiza przestępstw</h1>
    <p>
        Witaj w aplikacji CrimeMatch!
        <li>
            <strong>Formularz zgłoszeń:</strong> Możesz wprowadzać informacje dotyczące przestępstwa za pomocą intuicyjnego formularza. Formularz wymaga podstawowych informacji o popełnionym przestępstwie.
        </li>
        <li>
            <strong>Wyszukiwanie Przestępców:</strong> Wprowadź informacje dotyczące sprawy nad którą pracujesz aby wyszukać przestępców o najlepszym dopasowaniu.
        </li>
        
        <li>
            <strong>Usuwanie wyników:</strong> Jeśli przypadkiem wprowadzisz błędne dane możesz je w każdej chwili usunąć.
        </li>
    </ul>
    <div class="image-container">
        <img src="{{ url_for('static', filename='zdjecie1.png') }}" alt="Zdjęcie" width="1200" height="800">
    </div>
    <footer>
        <p>Projekt i wykonanie:</p>
        <p>group name not found</p>
    </footer>

  
</body>
</html>
