<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Strona powitalna</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% if 'username' in session %}
        <h1>Witaj, {{ session['username'] }}!</h1>
        <a href="{{ url_for('wyloguj') }}">Wyloguj</a>
    {% else %}
        <h1>Strona startowa</h1>
        <!-- Inne treści strony -->
        <a href="{{ url_for('logowanie') }}">Zaloguj</a>
    {% endif %}


    <nav>
        <ul>
            <li><a href="{{ url_for('szukaj_przestepstwa') }}">Wyszukaj przestępstwo</a></li>
            <li><a href="{{ url_for('dodaj_przestepce') }}">Dodaj przestępcę</a></li>
            {% if logged_in and username == 'admin' %}
                <li><a href="{{ url_for('formularz_usun_przestepstwo') }}">Usuń przestępstwo</a></li>
            {% endif %}

        </ul>
    </nav>

  
</body>
</html>
