<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Usuń przestępcę</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logowanie.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-text">
            <h1><span class="header-text">CrimeMatch</span></h1>
        </div>
        <!-- <button class="menu-toggle">Menu</button> -->
        <nav class="nav-links">
            <a href="{{ url_for('home') }}">Strona główna</a>
            <a href="{{ url_for('szukaj_przestepstwa') }}">Wyszukaj Przestępstwo</a>
            <a href="{{ url_for('dodaj_przestepce') }}">Formularz Zgłoszeń</a>
            <a href="{{ url_for('wyloguj') }}">Wyloguj</a>
        </nav>
    </header>
    <h1>Usuń przestępcę</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Działania</th>
        </tr>
        {% for przestepca in przestepcy %}
            <tr>
                <td>{{ przestepca[0] }}</td>
                <td>{{ przestepca[1] }}</td>
                <td>{{ przestepca[2] }}</td>
                <td>
                    <form action="/usun_przestepce" method="post" style="display: inline;" onsubmit="return confirm('Czy na pewno chcesz usunąć?');">
                        <input type="hidden" name="id" value="{{ przestepca[0] }}">
                        <button type="submit">Usuń</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <footer>
        <p>Projekt i wykonanie:</p>
        <p>group name not found</p>
    </footer>

</body>
</html>
