<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Usuń przestępstwo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Usuń przestępstwo</h1>
    <form method="POST" action="{{ url_for('usun_przestepstwo') }}">
        <label for="nazwisko">Nazwisko przestępcy:</label>
        <input type="text" id="nazwisko" name="nazwisko" required>
        <button type="submit">Usuń</button>
    </form>
</body>
</html>

